/* color- background: #F1D5BB; */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* line-height: 3em; */
}

/* GENERAL STYLING  */

main{
    padding: .5rem;
}

h1{
    border-bottom: 5px solid orangered;
    width: 30%;
    letter-spacing: 4px;
}

.wrapper{
    padding: .7rem;
}

svg{
    color: white;
    padding: 0 .5rem;
}


/* HOME SECTION STYLING  */

#home{
    height: 100vh;
    width: 100%;
    padding-top: 20rem;
    text-align: center;
    font-size: larger;
    background-image: url(images/home\ image.png);
    background-size: cover;
    color: whitesmoke;
}

div.heading{
    line-height: 4rem;
}

div.heading h1{
    border-bottom: none;
    width: 100%;
    opacity: 0.9;
}

div.heading p{
    opacity: 0.8;
}

div.home-button{
    margin-top: 2rem;
}

#home button{
    cursor: pointer;
    letter-spacing: 5px;
    border-radius: 5%;
    padding: .7rem;
    background-color: whitesmoke;
    opacity: 0.8;
    box-shadow: 0 3px 5px rgba(200, 40, 0, 0.9);
}

#home button:hover{
    background: white;
}

#home button a{
    text-decoration: none; 
    color: #000;
}

#home a:active{
    box-shadow: none;
    margin-top: 2rem;
}


/* MENU SECTION STYLES  */
nav{
    position: fixed;
    height: 10%;
    width: 100%;
    margin-bottom: 92rem;
}

main.menu h1{
    margin-top: 4rem;
}

nav div.menu-icon{
    padding: 2rem;
    z-index: 100;
    background-color: rgb(33, 32, 32);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.7);
}

div.food-wrapper{
    padding: 1rem;
    text-align: center;
    /* background-color: #F1D5BB; */
}

.food-wrapper img{
    height: 60vh;
    width: 80vw;
}


/* CART STYLES  */
main.cart{
    padding: 1rem;
}

main.cart img{
    width: 20%;
    border-radius: 100%;
}

div.item{
    display: flex;
    align-items: center;
}


    /* Media screens */
@media screen and (min-width: 768px) {
    #home button{
        width: 10%;
    }

    /* Menu.html STYLE  */

    body.menu-body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: .7rem;
    }

    nav div.menu-icon{
        height: 70vh;
        width: 5vw;
        margin-left: 1rem;
    }
    
    main.menu h1{
        margin: 0 0 0 4.4rem;
    }

    nav .menu-icon{
        height: 70vh;
        width: 10%;
        box-shadow: 0px 3px 5px rgba(0,0,0,1);
    }

    main.menu{
        padding: 0 4rem 3rem;
    }

    div.food-wrapper{
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .food-wrapper img{
        height: 90%;
        width: 70%;
    }
}
